<div class="position-sticky" style="top: 2rem;">
    <div>
        <h4 class="fst-bold">Recent posts</h4>
        <ul class="list-unstyled">
            <li>
                <img
                    class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                    href="technology.html#post1">
                    <img src="thumb-tech.jpg" width="96" height="96" alt="Seminar">
                        <div class="col-lg-8">
                            <h6 class="mb-0">Lab. Seminar</h6>
                            <small class="text-body-secondary">April 30, 2025</small>
                        </div>
                    </img>
                </a>
            </li>
            <li>
                <a
                    class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                    href="programming.html#post2">
                    <img src="thumb-prog.jpg" width="96" height="96" alt="Seminar">
                        <div class="col-lg-8">
                            <h6 class="mb-0">Lab. Seminar</h6>
                            <small class="text-body-secondary">April 9, 2025</small>
                        </div>
                    </img>
                </a>
            </li>
        </ul>
    </div>

    <!-- <div class="p-4">
        <h4>Archives</h4>
        <div class="accordion" id="archiveAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading2021">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse2021"
                        aria-expanded="false"
                        aria-controls="collapse2021">
                        2025
                    </button>
                </h2>
                <div
                    id="collapse2025"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading2021"
                    data-bs-parent="#archiveAccordion">
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">April 2025</a>
                            </li>
                            <li>
                                <a href="#">May 2025</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="p-4">
        <h4 class="fst-italic">Elsewhere</h4>
        <ol class="list-unstyled">
            <li>
                <a href="https://github.com/mystlee">GitHub</a>
            </li>
            <li>
                <a href="#">Facebook</a>
            </li>
        </ol>
    </div>
</div>